@{
    ViewBag.Title = "Create Tester";
}

<div class="container-form-wrapper">
    <div class="container-form-create">
        <div class="title-box">
            <h2 class="container-form-create__heading">Create Tester</h2>
            <a href="~/testers/index" class="button button--secondary">Back to all Testers</a>
        </div>
        <form action="~/testers/create" class="form-create" method="post">

            <!-- Name -->
            <label for="TesterName">Name</label>
            <input type="text" id="TesterName" name="TesterName">

            <!-- Email -->
            <label for="Email">Email</label>
            <input type="email" id="Email" name="Email">

            <!-- BirthDate -->
            <label for="BirthDate">Date of birth</label>
            <input type="date" id="BirthDate" name="BirthDate">

            <!-- Gender -->
            <label >Gender</label>
            <div class="radio-group">
                <div class="radio-group__inner">
                    <input type="radio" id="Male" name="Gender" value="Male">
                    <label for="Male">Male</label>
                    <input type="radio" id="Female" name="Gender" value="Female">
                    <label for="Female">Female</label>
                    <input type="radio" id="Other" name="Gender" value="Other">
                    <label for="Other">Other</label>
                </div>
            </div>

            <!-- DevStream -->
            <label for="DevStreamId">Stream</label>
            <select name="DevStreamId" id="DevStreamId">
                <option value="">Select a stream</option>
                @foreach (DevStreamResponse stream in ViewBag.DevStreams)
                {
                    <option value="@stream.DevStreamId">@stream.DevStreamName</option>
                }
            </select>

            <!-- Position -->
            <label for="Position">Position</label>
            <input type="text" id="Position" name="Position">

            <!-- Skills -->
            <label for="Skills">Skills</label>
            <input type="text" id="Skills" name="Skills">

            <!-- Months of work experience -->
            <label for="MonthsOfWorkExperience">Months of work experience</label>
            <input type="number" id="MonthsOfWorkExperience" name="MonthsOfWorkExperience" min="0">

            <button class="form-create__btn form-create__btn--blue" type="submit">Submit</button>
            @if (ViewBag.Errors != null)
            {
                <ul class="error-list">
                    @foreach (string error in ViewBag.Errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            }
        </form>
    </div>
</div>