<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>TestersViewer</title>
    <link rel="stylesheet" href="~/styles.css"/>
    <script
        defer
        type="module"
        src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"></script>
    <script
        defer
        nomodule=""
        src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"></script>
    <script defer src="~/script.js"></script>
</head>
<body>
<nav class="navbar">
    <div class="navbar__inner">
        <div class="navbar__logo">
            <img src="~/Logo64x64.png" alt="logo" class="navbar__img"/>
            <a asp-controller="Testers" asp-action="Index" class="heading heading--violet">TestersViewer</a>
        </div>
        <ul class="navbar__links">
            <li>
                <a asp-controller="Testers" asp-action="Index" class="navbar__link">Home</a>
            </li>
            <li>
                <a asp-controller="Testers" asp-action="Create" class="navbar__link">Create</a>
            </li>
            <li>
                <a href="#" class="navbar__link">Delete</a>
            </li>
            <li>
                <a href="#" class="navbar__link">FancyLink</a>
            </li>
        </ul>
    </div>
</nav>

<main class="main">
    @RenderBody()
</main>
</body>
</html>