@model TesterResponse

@{
    ViewBag.Title = "Delete Tester profile";
}

<div class="container-form-wrapper">
    <div class="container-form-create">
        <div class="title-box">
            <h2 class="container-form-create__heading">Delete Tester profile</h2>
            <a asp-controller="Testers" asp-action="Index" class="button button--secondary">Back to all Testers</a>
        </div>
        <form asp-controller="Testers" asp-action="Delete" class="form-create" method="post">
            <input type="hidden" asp-for="TesterId">

            <!-- Name -->
            <label asp-for="TesterName">Name</label>
            <input asp-for="TesterName" disabled="disabled">
            <span asp-validation-for="TesterName" class="form-validation-error"></span>

            <!-- Email -->
            <label asp-for="Email">Email</label>
            <input asp-for="Email" disabled="disabled">
            <span asp-validation-for="Email" class="form-validation-error"></span>
            <button class="form-create__btn form-create__btn--red" type="submit">Delete</button>

            @if (ViewBag.Errors != null)
            {
                <ul class="error-list">
                    @foreach (string error in ViewBag.Errors)
                    {
                        <li>@error</li>
                    }
                </ul>
            }
        </form>
    </div>
</div>