@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
}


.navbar {
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.07);
    z-index: 1;
}

.navbar__inner {
    padding: 0.5rem 2rem;
    display: flex;
    justify-content: space-between;

}

.navbar__logo {
    display: flex;
    align-items: center;

}

.navbar__img {
    height: 25px;
    width: auto;
    margin-right: 10px;
}


.navbar__links {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar__links li {
    margin-left: 1.5rem;
}


.navbar__link:link,
.navbar__link:visited {
    text-decoration: none;
    color: #333;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
}

.navbar__link:hover,
.navbar__link:active {
    border-bottom: #b927fc 2px solid;
    border-radius: 5px;
    color: #b927fc;
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


.navbar__link {
    /* Set initial border color and text color */
    border-bottom: 2px solid #b927fc;
    color: #b927fc;
    /* Apply the gradient to the text */
    -webkit-background-clip: text;
    background-clip: text;
    /* Hide the border by setting it to transparent */
    border-color: transparent;
    /* Add a smooth transition for the border */
    transition: border-color 0.3s ease;
}

.navbar__link:hover {
    /* Show the border on hover */
    border-color: #b927fc;
}


.heading {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 700;
}

.heading--violet {
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.heading--dark {
    color: #6a6a6a;

}

.container {
    margin: 2rem; /* This sets the margin on all sides of the container */
}

.table {
    margin: 1rem auto; /* This will center the table horizontally */
    /*width: 90%; */
    font-size: 1rem;
    border-collapse: collapse;
    border-radius: 6px;
    overflow: hidden;
    /* Additional styles */
}


td {
    width: 5%;
}

/*.table__name {*/
/*    !*width: 1%;*!*/
/*}*/

/*.table__email {*/
/*    width: 5%;*/
/*}*/

/*.table__age {*/
/*    width: 2%;*/
/*}*/

/*.table__experience {*/
/*    width: 5%;*/
/*}*/


.table__icon {
    color: white;
}


th,
td {
    padding: 0.5rem;
    text-align-last: left;
}


thead tr {
    background-color: #3f3f3f;
    color: white;
}

thead th {
    /*width: 2rem;*/
}

tbody tr:nth-child(odd) {
    background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
    background-color: #e9ecef;
}

/*search*/
/* General styling for the form */
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 8px;
}

/* Flexbox layout for inline elements */
.form-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the select dropdown */
.form-container__select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    flex-grow: 1;
}

/* Styling for the search input */
.form-container__search {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: white;
    flex-grow: 3;
}

.form-container__inner {
    position: relative;
}

/* Styling for the search button */
.form-container__submit {
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
    flex-grow: 1;
    transition: all 0.3s linear;
}


.form-container__submit--violet {
    background-color: #2c64fc;
    color: white;
}

.button--secondary:link,
.button--secondary:visited {
    text-decoration: none;
    color: #6a6a6a;
    font-size: 95%;
    font-weight: 400;
    padding: 5px 10px;
}

.button--secondary:hover,
.button--secondary:active {
    border-bottom: #b927fc 2px solid;
    border-radius: 5px;
    color: #b927fc;
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}


.button--secondary {
    /* Set initial border color and text color */
    border-bottom: 2px solid #b927fc;
    color: #b927fc;
    /* Apply the gradient to the text */
    -webkit-background-clip: text;
    background-clip: text;
    /* Hide the border by setting it to transparent */
    border-color: transparent;
    /* Add a smooth transition for the border */
    transition: border-color 0.3s ease;
}

.button--secondary:hover {
    /* Show the border on hover */
    border-color: #b927fc;
}


/* Hover and focus states for interactive elements */
.form-container__select:hover,
.form-container__search:hover,
.form-container__select:focus,
.form-container__search:focus {
    border-color: #a8a8a8;
}


.form-container__submit:hover,
.form-container__submit:focus {
    background-color: #b927fc;
    color: white;
}

/* Placeholder styling */
.form-container__search::placeholder {
    color: #a8a8a8;
}


.table__link:link,
.table__link:visited {
    text-decoration: none;
    color: white;
    /*padding: 5px 10px;*/
    border-bottom: 2px solid transparent;
    transition: all 0.3s linear
}

.table__link:hover,
.table__link:active {
    border-radius: 5px;
    background: linear-gradient(to right, #b927fc 0%, #2c64fc 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    border-color: #3f3f3f;
}

/* Form Create */
.container-form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form-create {
    align-self: center;
    width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
}

.form-create {
    display: flex;
    flex-direction: column;
}

.form-create label {
    margin-bottom: 5px;
    color: #333;
}

.form-create input[type=text],
.form-create input[type=email],
.form-create input[type=date],
.form-create input[type=number],
.form-create select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.container-form-create__heading {
    margin: 0;
    font-size: 1.5rem;
    color: #333;
}

.radio-group {
    margin-bottom: 15px;
}

.radio-group label {
    margin-right: 10px;
}

.form-create__btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s linear;
}

.form-create__btn--blue {
    background-color: #2c64fc;
    color: white;
}

.form-create__btn--violet {
    background-color: #b927fc;
    color: white;
}

.form-create__btn--violet:hover {
    background-color: #2c64fc;
}

.form-create__btn--blue:hover {
    background-color: #b927fc;
}

.form-create__btn--red {
    background-color: #c90000;
    color: white;
    transition: all 0.2s ease;
}

.form-create__btn--red:hover {
    background-color: red;
}

.btn--action:link,
.btn--action:visited {
    color: #333333;
    text-decoration: none;
}

.btn--action:hover,
.btn--action:active {
    border-bottom: 2px solid #333333;
}


.radio-group__inner {
    margin-top: 0.5rem;
    border: solid 1px #ccc;
    display: inline-block;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    border-radius: 4px;
}

.form-create input[type="text"]:hover,
.form-create input[type="email"]:hover,
.form-create input[type="date"]:hover,
.form-create input[type="number"]:hover,
.form-create select:hover {
    border: 1px solid #a8a8a8;
}

.error-list li {
    color: red;
}

.form-validation-error {
    margin-bottom: 15px;
    color: red;
    font-size: 0.9rem;
}